body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.page{
  height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.button{
  background: #020243;
  border: #020243;
  color: white;
  padding: 5px 25px;
  height: 35px;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.z-input{
  height: 35px;
}
.z-logo{
  height: 150px;
  margin-bottom: 70px;

}
.z-logo img{
  height: 100%;
}
.z-p{
  font-weight: bold;
  margin-bottom: 20px;
}
